# 1. Sum All Items in a List üî¢

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

# 2. Multiply All Items in a List ‚úñÔ∏è

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4]
result = reduce(lambda x, y: x*y, nums)
print(result)

24

# 3. Find Max Item in a List üîº

In [ ]:
nums = [10, 20, 4, 45, 99]
print(max(nums))

99

# 4. Find Min Item in a List üîΩ

In [ ]:
nums = [10, 20, 4, 45, 99]
print(min(nums))

4

# 5. Count Occurrences of an Element üîç

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 4, 5]
print(nums.count(4))

3

# 6. Reverse a List üîÑ

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

# 7. Clone/Copy a List üìã

In [ ]:
nums = [1, 2, 3]
copy = nums[:]
print(copy)

[1, 2, 3]

# 8. Find Common Elements Between Two Lists ü§ù

In [ ]:
a = [1, 2, 3]
b = [2, 3, 4]
print(list(set(a) & set(b)))

[2, 3]

# 9. Remove Duplicates üßπ

In [ ]:
nums = [1,2,2,3,4,4,5]
print(list(set(nums)))

[1, 2, 3, 4, 5]

# 10. Check if List is Empty üï≥Ô∏è

In [ ]:
nums = []
print(not nums)

True

# 11. Flatten a Nested List üìÇ

In [ ]:
nested = [[1,2],[3,4],[5]]
flat = [x for sublist in nested for x in sublist]
print(flat)

[1, 2, 3, 4, 5]

# 12. Find Difference Between Two Lists ‚ûñ

In [ ]:
a = [1,2,3,4]
b = [2,4]
print(list(set(a) - set(b)))

[1, 3]

# 13. Convert List of Characters to String üî°

In [ ]:
chars = ['h','e','l','l','o']
print(''.join(chars))

hello

# 14. Find Index of an Item üìç

In [ ]:
nums = [10,20,30,40]
print(nums.index(30))

2

# 15. Sort a List üóÇÔ∏è

In [ ]:
nums = [5,2,9,1]
nums.sort()
print(nums)

# 16. Sort a List Descending üìâ

In [ ]:
nums = [5,2,9,1]
nums.sort(reverse=True)
print(nums)

# 17. Find Second Largest Number ü•à

In [ ]:
nums = [10,20,4,45,99]
nums.sort()
print(nums[-2])

# 18. Find Second Smallest Number ü•à

In [ ]:
nums = [10,20,4,45,99]
nums.sort()
print(nums[1])

# 19. Split List into Chunks üç∞

In [ ]:
nums = [1,2,3,4,5,6,7,8]
chunk_size = 3
chunks = [nums[i:i+chunk_size] for i in range(0, len(nums), chunk_size)]
print(chunks)

# 20. Find All Even Numbers ‚ö°

In [ ]:
nums = [1,2,3,4,5,6,7,8]
evens = [x for x in nums if x%2==0]
print(evens)

# 21. Find All Odd Numbers üåô

In [ ]:
nums = [1,2,3,4,5,6,7,8]
odds = [x for x in nums if x%2!=0]
print(odds)

# 22. Find Length of List üìè

In [ ]:
nums = [1,2,3,4,5]
print(len(nums))

# 23. Clear a List üßΩ

In [ ]:
nums = [1,2,3]
nums.clear()
print(nums)

# 24. Zip Two Lists Together ü™¢

In [ ]:
a = [1,2,3]
b = ['a','b','c']
print(list(zip(a,b)))

# 25. Find Unique Values from List üîë

In [ ]:
nums = [1,2,2,3,4,4,5]
unique = list(set(nums))
print(unique)

# ***mixüò™***

In [ ]:
a=input()
l=a.split(',')
l=[x.strip() for x in l]
print(l)
l.sort()
print(l)
l.reverse()
print(l)
print(max(l))
print(min(l))
print(l[-1])
l.insert(1,100)
l[4]=1000
print(l)
l.append(2000)
print(l)
print(l[2:])

1,2,3,5,5
['1', '2', '3', '5', '5']
['1', '2', '3', '5', '5']
['5', '5', '3', '2', '1']
5
1
1
['5', 100, '5', '3', 1000, '1']
['5', 100, '5', '3', 1000, '1', 2000]
['5', '3', 1000, '1', 2000]